@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background-color: #050505; 
  color: white;
  overflow-x: hidden;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 1;
  pointer-events: none;
}

.glass-card:hover::before {
  opacity: 1;
}